body {
    background-color: teal;
    font-size: 25px;
    text-align: center;
}
#titulo {
    color: aliceblue;
    font-size: 75px;

}
#nome {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color: aliceblue;
    font-size: 25px;
    font-family: monospace;
}
ul {
    background-color: aliceblue;
    font-size: 35px ;
}
li {
    text-decoration: underline;
}
p {
    color: aliceblue;
}

.etica {
    font-size: 29px;
}
.autocon {
    font-size: 30px;
}
.resiliencia {
    font-size: 35px;
}
#foto {
    border-radius: 65px;
}