body {
    background-color: teal;
    font-size: 25px;
    text-align: center;
}
#titulo {
    color: aliceblue;
    font-size: 75px;

}
#nome {
    color: aliceblue;
}
h2 {
    color: aliceblue;
    font-size: 25px;
}
ul {
    background-color: aliceblue;
    font-size: 35px ;
}
li {
    text-decoration: underline;
}
p {
    color: aliceblue;
}